In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

s = pd.Series([1,3,5,np.nan,6,8])

In [2]:
print s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)

In [5]:
dates

<class 'pandas.tseries.index.DatetimeIndex'>
[2013-01-01, ..., 2013-01-06]
Length: 6, Freq: D, Timezone: None

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.616224 -0.769105  1.235781 -0.992407
2013-01-02 -0.931569 -0.950733  1.783102  1.800933
2013-01-03  0.148179 -0.051929 -0.177738 -1.270381
2013-01-04  0.453602  0.400847  0.614580 -0.814734
2013-01-05  0.366347  0.389861 -0.040059 -0.271434
2013-01-06 -1.202157  2.537246  0.843906 -0.031404